In [1]:
import functions_modules as fm
import yfinance as yf

In [2]:
baba_df = fm.add_all_columns('BABA')

In [3]:
baba_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,cum_return,middle_band,upper_band,lower_band,Conversion,Baseline,SpanA,SpanB,Lagging
Date,,,,,,,,,,,,,,,,,
2017-02-23,104.720001,104.860001,101.820000,102.459999,10095600,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.830002
2017-02-24,101.389999,103.000000,101.300003,102.949997,7356600,0,0,0.004782,1.004782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.089996
2017-02-27,102.500000,103.824997,102.220001,103.599998,6865900,0,0,0.006314,1.011126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.519997
2017-02-28,103.889999,103.989998,102.029999,102.900002,8017500,0,0,-0.006757,1.004294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.440002
2017-03-01,103.680000,104.989998,103.209999,104.040001,10331800,0,0,0.011079,1.015421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-16,125.610001,127.580002,124.510002,125.559998,17993300,0,0,-0.005387,1.225454,121.945501,131.687911,112.203090,120.969997,124.379997,121.710001,140.574997,NaN
2022-02-17,125.000000,129.399994,124.056000,124.430000,15906000,0,0,-0.009000,1.214425,121.615501,130.505717,112.725284,121.499996,124.379997,122.784998,140.297501,NaN
2022-02-18,120.879997,120.879997,117.199997,118.989998,21165800,0,0,-0.043719,1.161331,121.403500,130.332157,112.474843,123.099998,123.404999,125.887497,140.297501,NaN
2022-02-22,114.000000,114.849998,112.059998,112.930000,21714600,0,0,-0.050929,1.102186,121.031500,130.699106,111.363894,120.729996,123.404999,125.887497,140.297501,NaN
2022-02-23,115.099998,115.389999,109.959999,110.320000,16751462,0,0,-0.023112,1.076713,120.590500,131.321355,109.859646,119.679996,123.355000,125.887497,139.320000,NaN